body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.eventos-list {
    display: flex; /* Cambia a flexbox */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    justify-content: center;
    gap: 20px;
}

.evento-item {
    display: flex;
    width: 500px; /* Ajusta el ancho según tus necesidades */
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alinea el texto a la izquierda */
}

.evento-item img {
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.evento-info {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacia el contenido verticalmente */
}

.evento-info h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.evento-info p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.btn-boletos {
    display: inline-block;
    padding: 10px 15px;
    background: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    align-self: flex-start; /* Alinea el botón a la izquierda */
}

.btn-boletos:hover {
    background: #0056b3;
}

.btn-agregar-evento {
    display: inline-block;
    padding: 10px 15px;
    background: #474747;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.btn-agregar-evento-container {
    text-align: left;
    padding-left: 15%;
}

.btn-agregar-evento:hover {
    background: #606060;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s;
}

header nav a:hover {
    color: #007BFF;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}