<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% include 'base/header.html' %}
    <main>
        <div class="container">
            {% block content %}

            <section class="gallery">
                <div class="parent">
                    <div class="div1"><img src="{% static 'images/carnaval.png' %}" alt="Imagen 1" height="294px" width="425px"></div>
                    <div class="div2"><img src="{% static 'images/carnaval.png' %}" alt="Imagen 2"height="294px" width="425px"></div>
                    <div class="div3"><img src="{% static 'images/carnaval.png' %}" alt="Imagen 3"height="294px" width="210px"></div>
                    <div class="div4"><img src="{% static 'images/carnaval.png' %}" alt="Imagen 4"height="294px" width="210px"></div>
                    <div class="div5"><img src="{% static 'images/carnaval.png' %}" alt="Imagen 5"height="294px" width="425px"></div>
                </div>
            </section>
            <h2 class="news-title">Noticias</h2>

            <section class="news">
                <div class="parent2">
                    <div class="div1">
                        <img src="{% static 'images/noti.png' %}" alt="Noticia 1" style="width: 530px; height: 200px;">
                        <h5><strong>Noticia</strong></h5>
                        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque, officia, modi natus, nobis dolorem praesentium eos</p>
                    </div>
                    <div class="div2">
                        <img src="{% static 'images/noti.png' %}" alt="Noticia 2" style="width: 530px; height: 200px;">
                        <h5><strong>Noticia</strong></h5>
                        
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque, officia, modi natus, nobis dolorem praesentium eos</p>
                    </div>
                    <div class="div3">
                        <img src="{% static 'images/noti.png' %}" alt="Noticia 3" style="width: 37%; height: auto; float: left; margin-right: 10px;">
                        <h4><strong>Evento #1</strong></h4>
                        <p><strong>Localidad:</strong> Barranquilla</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque, officia</p>
                    </div>
                    <div class="div4">
                        <img src="{% static 'images/noti.png' %}" alt="Noticia 4" style="width: 37%; height: auto; float: left; margin-right: 10px;">
                        <h4><strong>Evento #2</strong></h4>
                        <p><strong>Localidad:</strong> Barranquilla</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque, officia</p>
                    </div>
                    <div class="div5">
                        <img src="{% static 'images/noti.png' %}" alt="Noticia 5" style="width: 37%; height: auto; float: left; margin-right: 10px;">
                        <h4><strong>Evento #3</strong></h4>
                        <p><strong>Localidad:</strong> Barranquilla</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum neque, officia</p>
                    </div>
                </div>
            </section>
            
            {% endblock %}
        </div>
        
    </main>
    {% include 'base/footer.html' %}
</body>
</html>
